/* Header customization */
.layout .ant-layout-header {
  display: flex;
  align-items: center;
  background-color: #213547; /* Darker color for better contrast */
  padding: 0 2rem;
}

.logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 2rem;
}

/* Menu customization */
.ant-menu {
  background-color: transparent;
  border-bottom: none;
  flex-grow: 1;
}

.ant-menu-item {
  color: #ffffff;
}

.ant-menu-item a {
  color: #ffffff;
  transition: color 0.3s;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu-item-selected {
  color: #646cff;
}

.ant-menu-horizontal > .ant-menu-item::after {
  border-bottom: 2px solid #646cff; /* Highlighted underline */
}
